@import url("../css/root.css");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0 !important;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

.ff-jak {
  font-family: "Plus Jakarta Sans";
}

.overflow {
  overflow: hidden;
}
.overflow_hidden {
  overflow: hidden;
}

.myBtn {
  rotate: 270deg;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 4;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 100%;
}
.acc-img-set {
  width: 21%;
  height: 21%;
}
.border_r {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
/* navbar */
.crossLine1 {
  rotate: 46deg;
}

.crossLine2 {
  rotate: 127deg;
  bottom: 35%;
}
.gap_40 {
  gap: 40px;
}
op_8{
  opacity: 0.8;
}
.nav_underline {
  width: 100%;
  border-bottom: 2px solid rgba(251, 253, 255, 0.2);
  background: rgba(251, 253, 255, 0.01);
  backdrop-filter: blur(16.5px);
}

nav ul li a {
  color: var(--white) !important;
  font-weight: 400;
  font-size: var(--fs-md) !important;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  background: var(--white) !important;
  height: 2px;
  width: 0%;
  bottom: -38%;
  right: 100%;
  transition: all 300ms linear;
}

nav ul li a:hover::before {
  width: 100%;
  right: 0%;
}

.btn_nav {
  border-radius: 40px;
  background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
  padding: 13px 32px;
  color: var(--white) !important;
  cursor: pointer;
}

.btn_nav:hover {
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}

/*header*/

.bg_img {
  background-image: url("../image/background_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.line_h1 {
  width: 20%;
  height: 2px;
  background-color: var(--blue, #0389ff);
}

.AI_phara {
  line-height: 126%;
}

.pb_28 {
  padding-bottom: 28px;
}

.btn-unique {
  border-radius: 40px;
  background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
  padding: 13px 32px;
  color: var(--white) !important;
  border: 1px solid transparent !important;
  transition: all 400ms linear;
}

.btn-unique:hover {
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}

.hero_phara {
  max-width: 479px;
}

.card_img {
  display: inline-flex;
  border-radius: 12px;
  background: rgba(3, 137, 255, 0.12);
  backdrop-filter: blur(12px);
  padding: 16px 20px;
}

.rat_icon {
  position: unset;
}

.doc_icon {
  position: unset;
}

.share_icon {
  position: unset;
}

.four_img_icon {
  position: unset;
}
/*sec-1*/

.img_rotate {
  animation: rotate2 4s linear infinite;
}

@keyframes rotate2 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(45deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.men_ellipse {
  position: absolute;
  top: -7%;
  right: 0%;
  z-index: -1;
}

.bring_ellipse {
  position: absolute;
  top: 1%;
  left: 6%;
  z-index: -1;
}
/* sec-2*/

.accordion-button {
  color: var(--gray2) !important;
  transition: all 500ms linear !important;
}

.accordion-button:not(.collapsed) {
  padding-bottom: var(--bs-accordion-active-padding-bottom) !important;
  transition: all 300ms linear !important;
  color: #0389ff !important;
  display: block !important;
}

.accordion-button:not(.collapsed) img {
  display: inline !important;
}

.accordion-item {
  padding: 12px !important;
  border: none !important;
  border-radius: 10px !important;
  background: rgba(3, 137, 255, 0.12) !important;
  backdrop-filter: blur(12.5px) !important;
  margin-bottom: 20px !important;
}

.accordion-body {
  padding: 0 !important;
  color: var(--gray2);
  padding-left: 27px !important;
  padding-bottom: 20px !important;
}

.accordion {
  --bs-accordion-bg: none !important;
  --bs-accordion-active-bg: none !important;
  --bs-accordion-border-width: none !important;
  --bs-accordion-btn-focus-border-color: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-active-color: #0389ff !important;
  --bs-accordion-active-padding-bottom: 7px !important;
}

.accordion-button:focus {
  border-color: none !important;
}

.accordion-button::after {
  content: unset !important;
}

.accordion-button {
  font-size: var(--fs-xl) !important;
}
/*sec-3*/

.card_acc {
  border-radius: 10px;
  background: rgba(3, 137, 255, 0.12) !important;
  backdrop-filter: blur(12.5px);
}
/*sec-4*/

.slider_card {
  border-radius: 20px;
  background: rgba(3, 137, 255, 0.12);
  padding: 30px;
  height: 253px;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}

.slick-dots li button:before {
  color: var(--white);
}

.slick-next {
  right: 0px;
}

.slick-next:before,
.slick-prev:before {
  line-height: 1;
  opacity: 0.75;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button:before {
  width: 53px;
  height: 10px;
  background-color: var(--blue);
}

.slick-dots li {
  margin: -15px 20px;
}

.slick-dots li button:before {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content: "";
  text-align: center;
  background-color: var(--white);
}

.abc {
  filter: grayscale(100%);
}

.abc:hover {
  filter: grayscale(0%);
}
/* sec-5 */

.mw_650 {
  max-width: 650px !important;
}

.three_hover {
  transition: all 1s linear;
}

.three_hover:hover {
  transform: scale(1.2);
}

.mw_450 {
  max-width: 450px !important;
}

.ellipse_three_coin {
  position: absolute;
  top: -34%;
  right: 0%;
  z-index: -1;
}
/*sec-6*/

.card_four {
  padding: 18px;
  border-radius: 15px;
  background: rgba(3, 137, 255, 0.12);
  backdrop-filter: blur(2px);
}

.add {
  position: absolute;
  top: -3%;
  right: -6%;
}

.arrow {
  position: absolute;
  left: -21%;
  top: 48%;
}

.how_to_work {
  position: absolute;
  top: 5%;
  left: 29%;
  z-index: -1;
}
/* sec-8 */

.mobile_icon {
  position: absolute;
  bottom: 7%;
  right: 0%;
}

.mw_474 {
  max-width: 474px !important;
}

.ellipse_moblie {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 381.479px;
  height: 395.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
}

.mobile_ellpise {
  position: absolute;
  top: -6%;
  right: 4%;
  z-index: -1;
}

.mobile {
  transition: all 2s linear;
}

.mobile:hover {
  transform: scale(1.1);
}
/*sec-9*/

.box {
  transition: all 2s linear;
}

.box:hover {
  transform: scale(1.3);
}

.border_bo {
  border-bottom: 2px solid #273139;
}

.border_l {
  border-right: 2px solid transparent;
}

.line_card {
  position: absolute;
  top: 47%;
  width: 100;
  height: 2px;
  background-color: #273139;
}

.ellipse_our {
  position: absolute;
  top: -32%;
  left: 0%;
  z-index: -1;
}

.btn_card {
  border-radius: 40px;
  background: transparent;
  padding: 13px 32px;
  color: var(--gray1) !important;
  border: 1px solid var(--gray1) !important;
  transition: all 300ms linear;
}

.btn_card:hover {
  color: var(--white) !important;
  border: 1px solid transparent !important;
  background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}

.phara:hover {
  color: #0069e3;
}

.ellipse_left {
  position: absolute;
  left: 0%;
  top: -48%;
  z-index: -1;
}
/*sec-10 */

.search_card {
  border-radius: 29px;
  background: rgba(251, 253, 255, 0.07);
  padding: 0px 0px 1px 12.713px;
}

.bg_image {
  background-image: url("../image/search_bg_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  color: var(--gray1) !important;
  outline: unset;
  background-color: transparent !important;
  border: 2px solid transparent;
}

input::placeholder {
  text-overflow: ellipsis !important;
}

.btn_input {
  border-radius: 40px;
  background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
  padding: 13px 22px;
  color: var(--white) !important;
  border: 1px solid transparent !important;
  transition: all 300ms linear;
}

.btn_input:hover {
  transform: rotatex(20deg) rotateY(20deg);
}

.mw_400 {
  max-width: 595px !important;
}
/* ----footer---- */

ul li a {
  color: var(--white);
  font-weight: 400;
  font-size: var(--fs-md);
  position: relative;
  opacity: 0.7;
}

ul li a::before {
  content: "";
  position: absolute;
  background: var(--white);
  opacity: 0.7;
  height: 1px;
  width: 0%;
  bottom: 2%;
  right: 100%;
  transition: all 300ms linear;
}

ul li a:hover::before {
  width: 100%;
  right: 0%;
}

@media (max-width: 992px) {
  .icon_box {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 2%;
    right: 2%;
  }
  .icon_box span {
    width: 100%;
    height: 4px;
    display: flex;
    background: gray;
    margin-top: 6px !important;
  }
  .my_nav {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 110vh;
    background-color: #030f1b;
    top: 0;
    left: -100%;
    justify-content: center;
    margin-top: -40px !important;
    transition: all 400ms linear;
    z-index: 2;
  }
  .show {
    left: 0%;
  }
}

@media (min-width: 576px) {
  .border_l {
    border-right: 2px solid transparent;
  }
  .border_bot {
    border-bottom: 2px solid #273139;
  }
  .border_bottom {
    border-bottom: 2px solid #273139;
  }
  .how_to_work {
    position: absolute;
    top: 19%;
    left: 8%;
    z-index: -1;
  }
  .btn_input {
    padding: 13px 32px;
  }
  .search_card {
    padding: 1px 0px 1px 33.713px;
  }
  @media (min-width: 768px) {
    .border_b {
      border-right: 2px solid#273139;
    }
    .border_bot {
      border-bottom: 2px solid #273139;
    }
    .border_bottom {
      border-bottom: 2px solid transparent;
    }
    .line_center {
      position: absolute;
      top: 14%;
      width: 100%;
      height: 1px;
      background-color: var(--blue-gray) !important;
    }
    .arrow {
      position: absolute;
      left: -20%;
      top: 48%;
    }
    .border_x {
      border-left: 1px solid var(--blue-gray) !important;
      border-right: 1px solid var(--blue-gray) !important;
    }
    .ellipse_center {
      position: absolute;
      left: -1%;
      top: 11%;
      z-index: -1;
    }
  }
  @media (min-width: 992px) {
    .border_l {
      border-right: 2px solid #273139;
    }
    .border_bot {
      border-bottom: 2px solid transparent;
    }
    .border_bottom {
      border-bottom: 2px solid transparent;
    }
    .line_center {
      position: absolute;
      top: 22%;
      width: 100%;
      height: 1px;
      background-color: var(--blue-gray) !important;
    }
    .how_to_work {
      position: absolute;
      top: 5%;
      left: 23%;
      z-index: -1;
    }
    .ellipse_center {
      position: absolute;
      left: 13%;
      top: 23%;
      z-index: -1;
    }
    .rat_icon {
      position: absolute;
      bottom: 54%;
      left: -8%;
    }
    .doc_icon {
      position: absolute;
      bottom: 14%;
      left: -10%;
    }
    .share_icon {
      position: absolute;
      bottom: 0%;
      right: 11%;
    }
    .four_img_icon {
      position: absolute;
      bottom: 35%;
      right: -7%;
    }
  }
}

@media (min-width: 1200px) {
  .line_center {
    position: absolute;
    top: 28%;
    width: 100%;
    height: 1px;
    background-color: var(--blue-gray) !important;
  }
  .ellipse_center {
    position: absolute;
    left: 22%;
    top: 23%;
    z-index: -1;
  }
  .share_icon {
    position: absolute;
    bottom: -2%;
    right: 11%;
  }
}
