@import url("../css/root.css");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0 !important;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

.ff-jak {
  font-family: "Plus Jakarta Sans";
}

.overflow {
  overflow: hidden;
}
.overflow_hidden {
  overflow: hidden;
}

.myBtn {
  rotate: 270deg;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 4;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 100%;
}
.acc-img-set {
  width: 21%;
  height: 21%;
}
.border_r {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
/* navbar */
.crossLine1 {
  rotate: 46deg;
}

.crossLine2 {
  rotate: 127deg;
  bottom: 35%;
}
.gap_40 {
  gap: 40px;
}
.op_8 {
  opacity: 0.8;
}
.op_7 {
  opacity: 0.7;
}
.nav_underline {
  width: 100%;
  border-bottom: 2px solid rgba(251, 253, 255, 0.2);
  background: rgba(251, 253, 255, 0.01);
  backdrop-filter: blur(16.5px);
}

nav ul li a {
  color: var(--white) !important;
  font-weight: 400;
  font-size: var(--fs-md) !important;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  background: var(--white) !important;
  height: 2px;
  width: 0%;
  bottom: -38%;
  right: 100%;
  transition: all 300ms linear;
}

nav ul li a:hover::before {
  width: 100%;
  right: 0%;
}

.btn_nav {
  border-radius: 40px;
  background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
  padding: 13px 32px;
  color: var(--white) !important;
  cursor: pointer;
  transition: all 400ms linear;
}

.btn_nav:hover {
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}

/*header*/

.bg_img {
  background-image: url("../image/background_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.line_h1 {
  width: 20%;
  height: 2px;
  background-color: var(--blue, #0389ff);
}

.AI_phara {
  line-height: 126%;
}

.pb_28 {
  padding-bottom: 28px;
}

.btn-unique {
  border-radius: 40px;
  background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
  padding: 13px 32px;
  color: var(--white) !important;
  border: 1px solid transparent !important;
  transition: all 400ms linear;
}

.btn-unique:hover {
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}

.hero_phara {
  max-width: 479px;
}

.card_img {
  display: inline-flex;
  border-radius: 12px;
  background: rgba(3, 137, 255, 0.12);
  backdrop-filter: blur(12px);
  padding: 16px 20px;
}

.rat_icon {
  position: unset;
}

.doc_icon {
  position: unset;
}

.share_icon {
  position: unset;
}

.four_img_icon {
  position: unset;
}
/*sec-1*/

.img_rotate {
  animation: rotate2 4s linear infinite;
}

@keyframes rotate2 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(45deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.men_ellipse {
  position: absolute;
  top: -7%;
  right: 0%;
  z-index: -1;
}

.bring_ellipse {
  position: absolute;
  top: 1%;
  left: 6%;
  z-index: -1;
}
/* 22 */

.sec-2-card-1 {
  display: inline-flex;
  padding: 10px 30px;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  background: rgba(3, 137, 255, 0.12);
  backdrop-filter: blur(12px);
  max-width: 210px;
}

.sec-2-head-1 {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  line-height: 140%;
}

.sec-2-head-2 {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  line-height: 140%;
}

.blur-card {
  position: absolute;
  left: 5%;
  top: 28%;
}

.blur-card-2 {
  position: absolute;
  left: 3%;
  top: 55%;
}

.blur-card-3 {
  position: absolute;
  right: 4%;
  top: 50%;
}
.w_90 {
  width: 90%;
}
.blur-card-4 {
  position: absolute;
  right: 20%;
  bottom: 3%;
}

.sec-2-sec-1 {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: rgba(128, 72, 248, 0.1);
}

.sec-2-s-1 {
  position: absolute;
  top: 38%;
  left: -36%;
}

.mt-90 {
  margin-top: 110px;
}
@media (max-width: 992px) {
  .blur-card {
    position: unset;
  }

  .blur-card-2 {
    position: unset;
  }

  .blur-card-3 {
    position: unset;
  }

  .blur-card-4 {
    position: unset;
  }

  .sec-2-card-1 {
    width: 250px;
    text-align: center;
    justify-content: center;
  }
}
/* sec-2*/

.accordion-button {
  color: var(--gray2) !important;
  transition: all 500ms linear !important;
}

.accordion-button:not(.collapsed) {
  padding-bottom: var(--bs-accordion-active-padding-bottom) !important;
  transition: all 300ms linear !important;
  color: #0389ff !important;
  display: block !important;
}

.accordion-button:not(.collapsed) img {
  display: inline !important;
}

.accordion-item {
  padding: 12px !important;
  border: none !important;
  border-radius: 10px !important;
  background: rgba(3, 137, 255, 0.12) !important;
  backdrop-filter: blur(12.5px) !important;
  margin-bottom: 20px !important;
}

.accordion-body {
  padding: 0 !important;
  color: var(--gray2);
  padding-left: 0 !important;
  padding-bottom: 20px !important;
}

.accordion {
  --bs-accordion-bg: none !important;
  --bs-accordion-active-bg: none !important;
  --bs-accordion-border-width: none !important;
  --bs-accordion-btn-focus-border-color: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-active-color: #0389ff !important;
  --bs-accordion-active-padding-bottom: 7px !important;
}

.accordion-button:focus {
  border-color: none !important;
}

.accordion-button::after {
  content: unset !important;
}

.accordion-button {
  font-size: var(--fs-xl) !important;
}
/*sec-3*/

.card_acc {
  border-radius: 10px;
  background: rgba(3, 137, 255, 0.12) !important;
  backdrop-filter: blur(12.5px);
}
.pb_80 {
  padding-bottom: 80px;
}
/* slide-dot */

.slick_slider_one .slick-track {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slick_slider_one .slick-slide {
  margin-bottom: 15px;
}

.slick_slider_one .slick-dots {
  margin-top: 20px;
  position: unset;
}

.slick_slider_one .slick-dots li.slick-active button:before {
  width: 55px;
  height: 11px;
  opacity: 1;
  color: var(--white);
  margin-left: -12px;
}

.slick_slider_one .slick-dots li {
  width: 36px;
  margin-left: 7px;
  margin-right: 7px;
}

.slick_slider_one .slick-dots li button:before {
  height: 11px;
  width: 31px;
  background-color: var(--white);
  position: absolute;
  left: 50%;
  border-radius: 34px;
  font-size: 0;
  margin-left: -3px;
}

.slick_slider_one .slick-dots {
  margin-top: 20px;
  position: unset;
}

.slick_slider_one .slick-dots li.slick-active button:before {
  width: 53px;
  height: 10px;
  border-radius: 28px;
  color: var(--blue);
  margin-left: -12px;
}

.slick_slider_one .slick-dots li {
  width: 36px;
  margin-left: 7px;
  margin-right: 7px;
}

.slick_slider_one .slick-dots li button:before {
  height: 11px;
  width: 11px;
  background-color: var(--white);
  position: absolute;
  left: 50%;
  border-radius: 34px;
  font-size: 0;
  margin-left: 9px;
}
/*sec-4*/

.slider_card {
  border-radius: 20px;
  background: rgba(3, 137, 255, 0.12);
  padding: 30px;
  height: 253px;
}

.slides_imgs {
  filter: grayscale(100%);
}

.slides_imgs:hover {
  filter: grayscale(0%);
}
/* sec-5 */

.mw_650 {
  max-width: 650px !important;
}

.three_hover {
  transition: all 400ms linear;
}

.three_hover:hover {
  transform: scale(1.2);
}

.mw_450 {
  max-width: 450px !important;
}

.ellipse_three_coin {
  position: absolute;
  top: -34%;
  right: 0%;
  z-index: -1;
}
/*sec-6*/

.card_four {
  padding: 18px;
  border-radius: 15px;
  background: rgba(3, 137, 255, 0.12);
  backdrop-filter: blur(2px);
}

.add {
  position: absolute;
  top: -3%;
  right: -6%;
}

.arrow {
  position: absolute;
  left: -21%;
  top: 48%;
}

.how_to_work {
  position: absolute;
  top: 5%;
  left: 29%;
  z-index: -1;
}
/* sec-8 */

.mobile_icon {
  position: absolute;
  bottom: 7%;
  right: 0%;
}

.mw_474 {
  max-width: 474px !important;
}

.ellipse_moblie {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 381.479px;
  height: 395.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
}

.mobile_ellpise {
  position: absolute;
  top: -6%;
  right: 4%;
  z-index: -1;
}

.mobile {
  transition: all 400ms linear;
}

.mobile:hover {
  transform: scale(1.1);
}
/*sec-9*/

.box {
  transition: all 400ms linear;
}

.box:hover {
  transform: scale(1.3);
}

.border_bo {
  border-bottom: 2px solid #273139;
}

.border_l {
  border-right: 2px solid transparent;
}

.line_card {
  position: absolute;
  top: 47%;
  width: 100;
  height: 2px;
  background-color: #273139;
}

.ellipse_our {
  position: absolute;
  top: -32%;
  left: 0%;
  z-index: -1;
}

.btn_card {
  border-radius: 40px;
  background: transparent;
  padding: 13px 32px;
  color: var(--gray1) !important;
  border: 1px solid var(--gray1) !important;
  transition: all 500ms linear;
}

.btn_card:hover {
  color: var(--white) !important;
  border: 1px solid transparent !important;
  background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}

.phara:hover {
  color: #0069e3;
}

.ellipse_left {
  position: absolute;
  left: 0%;
  top: -48%;
  z-index: -1;
}
/*sec-10 */

.search_card {
  border-radius: 29px;
  background: rgba(251, 253, 255, 0.07);
  padding: 0px 0px 1px 12.713px;
}

.bg_image {
  background-image: url("../image/search_bg_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
}

input {
  color: var(--gray1) !important;
  outline: unset;
  background-color: transparent !important;
  border: 2px solid transparent;
}

input::placeholder {
  text-overflow: ellipsis !important;
}

.btn_input {
  border-radius: 30px;
  background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
  padding: 10px 16px;
  color: var(--white) !important;
  border: 1px solid transparent !important;
  transition: all 500ms linear;
}

.btn_input:hover {
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}

.mw_400 {
  max-width: 595px !important;
}
/* ----footer---- */

.ftr_set {
  color: var(--white);
  font-weight: 400;
  font-family: var(--ff-jak);
  font-size: var(--fs-md);
  position: relative;
  opacity: 0.7;
}
.ftr_set:hover {
  opacity: 1;
}
.ftr_line {
  border-top: 1px solid var(--gray1);
}
.small-cards-set {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.small-cards-set2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ellipse */
.sec_9_ep_1 {
  width: 316.224px;
  height: 305.428px;
  border-radius: 416.224px;
  opacity: 0.3;
  background: #06f;
  filter: blur(100px);
  top: 16%;
  left: -8%;
}
.sec_9_ep_2 {
  width: 537.685px;
  height: 156.418px;
  border-radius: 537.685px;
  opacity: 0.3;
  background: #06f;
  filter: blur(100px);
  top: 50%;
  left: 30%;
}
.sec_8_ep_1 {
  width: 381.479px;
  height: 395.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  top: 10%;
  right: 5%;
  z-index: -1;
}
.hero_ep_1 {
  width: 481.479px;
  height: 395.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  bottom: -40%;
  left: 4%;
}
.sec_2_ep_1 {
  width: 481.479px;
  height: 395.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  top: 19%;
  right: -2%;
}
.sec_2_ep_1 {
  width: 481.479px;
  height: 395.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  top: 19%;
  right: -2%;
}
.sec_2_ep_2 {
  width: 400.479px;
  height: 400.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  top: 18%;
  left: -9%;
}
.sec_3_ep_1 {
  width: 381.479px;
  height: 395.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  top: 25%;
  right: 1%;
}
.sec_4_ep_1 {
  width: 400.479px;
  height: 400.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  top: 27%;
  left: 30%;
}
.sec_3_ep_1 {
  width: 381.479px;
  height: 395.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  top: 25%;
  right: 1%;
}
.sec_4_ep_1 {
  width: 400.479px;
  height: 400.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  top: 27%;
  left: 30%;
}
.sec_5_ep_1 {
  width: 300.479px;
  height: 300.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
  top: 17%;
  right: -2%;
}
.sec_7_ep_1 {
  width: 316.224px;
  height: 305.428px;
  flex-shrink: 0;
  border-radius: 416.224px;
  opacity: 0.3;
  background: #06f;
  filter: blur(100px);
  left: -6%;
  top: 17%;
}

@media (max-width: 992px) {
  .icon_box {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: fixed;
    top: 2%;
    right: 2%;
  }
  .icon_box span {
    width: 100%;
    height: 2px;
    display: flex;
    background: gray;
    margin-top: 6px !important;
  }
  .my_nav {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 110vh;
    background-color: #030f1b;
    top: 0;
    left: -100%;
    justify-content: center;
    margin-top: -40px !important;
    transition: all 400ms linear;
    z-index: 2;
  }
  .show {
    left: 0%;
  }
}

@media (min-width: 576px) {
  .border_l {
    border-right: 2px solid transparent;
  }
  .accordion-body {
    padding-left: 27px !important;
  }
  .border_bot {
    border-bottom: 2px solid #273139;
  }
  .btn_input {
    border-radius: 40px;
    background: linear-gradient(
      175deg,
      rgba(0, 136, 255, 0.58) 0%,
      #0069e3 100%
    );
    padding: 13px 22px;
  }
  .small-cards-set {
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .small-cards-set2 {
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .border_bottom {
    border-bottom: 2px solid #273139;
  }
  .how_to_work {
    position: absolute;
    top: 19%;
    left: 8%;
    z-index: -1;
  }

  .search_card {
    padding: 1px 0px 1px 33.713px;
  }
}

@media (min-width: 768px) {
  .border_b {
    border-right: 2px solid#273139;
  }
  .border_bot {
    border-bottom: 2px solid #273139;
  }
  .border_bottom {
    border-bottom: 2px solid transparent;
  }
  .w_sm_80 {
    width: 80%;
  }
  .sec-2-card-1 {
    padding: 7px 15px;
    gap: 10px;
    border-radius: 10px;
    max-width: 290px;
  }

  .line_center {
    position: absolute;
    top: 14%;
    width: 100%;
    height: 1px;
    background-color: var(--blue-gray) !important;
  }
  .arrow {
    position: absolute;
    left: -20%;
    top: 48%;
  }
  .border_x {
    border-left: 1px solid var(--blue-gray) !important;
    border-right: 1px solid var(--blue-gray) !important;
  }
  .ellipse_center {
    position: absolute;
    left: -1%;
    top: 11%;
    z-index: -1;
  }
}

@media (min-width: 992px) {
  .border_l {
    border-right: 2px solid #273139;
  }
  .sec-2-card-1 {
    padding: 10px 30px;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    max-width: 290px;
  }

  .border_bot {
    border-bottom: 2px solid transparent;
  }
  .border_bottom {
    border-bottom: 2px solid transparent;
  }
  .line_center {
    position: absolute;
    top: 22%;
    width: 100%;
    height: 1px;
    background-color: var(--blue-gray) !important;
  }
  .how_to_work {
    position: absolute;
    top: 5%;
    left: 23%;
    z-index: -1;
  }
  .ellipse_center {
    position: absolute;
    left: 13%;
    top: 23%;
    z-index: -1;
  }
  .rat_icon {
    position: absolute;
    bottom: 54%;
    left: -8%;
  }
  .doc_icon {
    position: absolute;
    bottom: 14%;
    left: -10%;
  }
  .share_icon {
    position: absolute;
    bottom: 0%;
    right: 11%;
  }
  .four_img_icon {
    position: absolute;
    bottom: 35%;
    right: -7%;
  }
}

@media (min-width: 1200px) {
  .line_center {
    position: absolute;
    top: 28%;
    width: 100%;
    height: 1px;
    background-color: var(--blue-gray) !important;
  }
  .ellipse_center {
    position: absolute;
    left: 22%;
    top: 23%;
    z-index: -1;
  }
  .share_icon {
    position: absolute;
    bottom: -2%;
    right: 11%;
  }
}
